.home {
    background-color: rgb(191, 234, 252);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .container {
      border: 1px solid white;
      border-radius: 10px;
      width: 70%;
      height: 80%;
      display: flex;
      overflow: hidden;
  

  

    }
  }
  