.formContainer {
    background-color: rgb(191, 234, 252);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .formWrapper {
      background-color: white;
      padding: 20px 60px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
  
      .register-logo-title {
        color: rgb(9, 137, 192);
        font-weight: bold;
        font-size: 26px;
      }
  
      .register-title {
        color: rgb(9, 137, 192);
        font-size: 13px;
      }
  
      form {
        display: flex;
        flex-direction: column;
        gap: 15px;
  
        input {
          padding: 10px;
          border: none;
          border-bottom: 1px solid rgb(9, 137, 192);
          &::placeholder {
            color: rgb(169, 182, 225);
          }
        }
  
        label {
          display: flex;
          align-items: center;
          gap: 10px;
          color: rgb(9, 137, 192);
          font-size: 12px;
          cursor: pointer;
  
          img {
            width: 28px;
            height: auto;
          }
        }
        button {
          background-color: rgb(9, 137, 192);
          color: white;
          padding: 10px;
          border: none;
          font-weight: bold;
          cursor: pointer;
        }
      }
      p {
        font-size: 12px;
        color: rgb(9, 137, 192);
      }
    }
  }