.search {
  border-bottom: 1px solid rgb(14, 57, 64);

  .searchForm {
    padding: 10px;

    input {
      background-color: transparent;
      border: none;
      color: white;
      outline: none;
      &::placeholder {
        color: white;
      }
    }
  }

  .no-user-found {
    display: flex;
    color: white;
    align-content: center;
    justify-content: center;
  }

  .userChat {
    border-top: 1px solid rgb(14, 57, 64);
  }
}
